@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	transition: all 0.2s linear;
}

$green: #0eb582;
$light-green: #f0fdfa;
$light-color: #777;
$light-white: #eee;
$white: #fff;
$black: #444;
$border: 0.1rem solid $green;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
	gap: 2rem;
}

@mixin titleText($titleSize) {
	font-size: $titleSize;
	text-transform: capitalize;
	color: $black;
}

@mixin graphText($graphSize) {
	font-size: $graphSize;
	line-height: 2;
	color: $light-color;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: $green;
	}
}

section {
	padding: 5rem 10%;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	border: $border;
	background: $light-green;
	color: $green;
	text-transform: capitalize;
	cursor: pointer;

	&:hover {
		background: $green;
		color: $white;
	}
}

.heading {
	text-align: center;
	margin-bottom: 3rem;
	@include titleText(3.5rem);
}
//-----  Navbar Start -----
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 10%;
	background: $light-green;
	box-shadow: $box-shadow;
	display: flex;
	align-items: center;
	z-index: 100;

	.logo {
		margin-right: auto;
		height: 4.5rem;
		width: auto;

		img {
			height: 100%;
			width: auto;
		}
	}

	.navbar {
		position: relative;

		a {
			margin-right: 2rem;
			@include titleText(2rem);

			&:hover {
				color: $green;
			}

			&.btn {
				background: $green;
				color: $white;

				border-radius: 5rem;
				&:hover {
					background: $light-green;
					color: $black;
				}
			}
		}

		#close-navbar {
			position: absolute;
			top: 1.5rem;
			right: 2.5rem;
			font-size: 4rem;
			cursor: pointer;
			color: $black;
			display: none;

			&:hover {
				transform: rotate(90deg);
				color: $green;
			}
		}
	}

	.icons div {
		cursor: pointer;
		font-size: 2.5rem;
		color: $black;
		margin-right: 1.5rem;

		&:hover {
			color: $green;
		}
	}

	#menu-btn {
		display: none;
	}
}

//-----  Navbar End -----

//----- Hero section start -----
.hero {
	min-height: 100vh;
	// background: linear-gradient(0deg, rgba(3, 3, 3, 0.623), rgba(0, 0, 0, 0.63)),
	background: url(../asset/hero-img.jpg);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		backdrop-filter: blur(8px);
		background: rgba(0, 0, 0, 0.5);
		padding: 13rem 2rem;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.title {
			@include titleText(6rem);
			text-align: center;
			color: $white;

			span {
				color: $green;
				font-family: 'Shadows Into Light', cursive;
			}
		}

		p {
			@include graphText(2rem);
			text-align: center;
			color: $white;
			margin-bottom: 2rem;
		}

		.count-down {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			.box {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 10rem;
				width: 18rem;
				background: #63e4c68f;
				border: $border;
				border-radius: 3px;

				h3 {
					@include titleText(5rem);

					color: $white;
				}
				span {
					@include titleText(2rem);
					margin-top: 1.2rem;

					color: $white;
				}
			}
		}

		.btn {
			margin-top: 2rem;
		}
	}
}

//-----  Hero section End -----

// Media queries
@media (max-width: 1200px) {
	section {
		padding: 3rem 5%;
	}
}

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	section {
		padding: 5rem 2rem;
	}
}

@media (max-width: 768px) {
	.header {
		#menu-btn {
			display: inline-block;
		}

		.navbar {
			position: fixed;
			top: 0;
			right: -105%;
			width: 30rem;
			background: $white;
			height: 100%;
			display: flex;
			flex-flow: column;
			justify-content: center;
			z-index: 1200;

			#close-navbar {
				display: block;
			}

			&.active {
				box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
				right: 0;
			}

			a {
				display: block;
				margin: 1rem 0;
				text-align: center;
				font-size: 3rem;

				&.btn {
					width: 75%;
					margin: 1rem auto;

					border-radius: 5rem;
				}
			}
		}
	}

	.hero {
		.content {
			padding: 10rem 2rem;
		}
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}

	.heading {
		font-size: 3rem;
	}

	.hero {
		.content {
			padding: 3rem 2rem;
		}
	}
}
