@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	outline: none;
	border: none;
	text-decoration: none !important;
	list-style: none;
	transition: all 0.2s linear;
}

$green: #0eb582;
$light-green: #f0fdfa;
$light-color: #777;
$light-white: #eee;
$white: #fff;
$black: #444;
$border: 0.1rem solid $green;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
	gap: 2rem;
}

@mixin titleText($titleSize) {
	font-size: $titleSize;
	text-transform: capitalize;
	color: $black;
}

@mixin graphText($graphSize) {
	font-size: $graphSize;
	line-height: 2;
	color: $light-color;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: $green;
	}
}

section {
	padding: 5rem 10%;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	border: $border;
	background: $light-green;
	color: $green;
	text-transform: capitalize;
	cursor: pointer;

	&:hover {
		background: $green;
		color: $white;
	}
}

.heading {
	text-align: center;
	margin-bottom: 3rem;
	@include titleText(3.5rem);
}
//-----  Navbar Start -----
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 10%;
	background: $light-green;
	box-shadow: $box-shadow;
	display: flex;
	align-items: center;
	z-index: 100;

	.logo {
		margin-right: auto;
		height: 4.5rem;
		width: auto;

		img {
			height: 100%;
			width: auto;
		}
	}

	.navbar {
		position: relative;

		a {
			margin-right: 2rem;
			@include titleText(2rem);

			&:hover {
				color: $green;
			}

			&.btn {
				background: $green;
				color: $white;

				border-radius: 5rem;
				&:hover {
					background: $light-green;
					color: $black;
				}
			}
		}

		#close-navbar {
			position: absolute;
			top: 1.5rem;
			right: 2.5rem;
			font-size: 4rem;
			cursor: pointer;
			color: $black;
			display: none;

			&:hover {
				transform: rotate(90deg);
				color: $green;
			}
		}
	}

	.icons div {
		cursor: pointer;
		font-size: 2.5rem;
		color: $black;
		margin-right: 1.5rem;

		&:hover {
			color: $green;
		}
	}

	#menu-btn {
		display: none;
	}
}

//-----  Navbar End -----

//----- Hero section start -----
.hero {
	min-height: 100vh;
	// background: linear-gradient(0deg, rgba(3, 3, 3, 0.623), rgba(0, 0, 0, 0.63)),
	background: url(../asset/hero-img.jpg);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		backdrop-filter: blur(8px);
		background: rgba(0, 0, 0, 0.5);
		padding: 13rem 2rem;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.title {
			@include titleText(6rem);
			text-align: center;
			color: $white;

			span {
				color: $green;
				font-family: 'Shadows Into Light', cursive;
			}
		}

		p {
			@include graphText(2rem);
			text-align: center;
			color: $white;
			margin-bottom: 2rem;
		}

		.count-down {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			.box {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 10rem;
				width: 18rem;
				// background: #63e4c68f;
				background: #0eb58377;
				border: $border;
				border-radius: 3px;

				h3 {
					@include titleText(5rem);

					color: $white;
				}
				span {
					@include titleText(2rem);
					margin-top: 1.2rem;

					color: $white;
				}
			}
		}

		.btn {
			margin-top: 2rem;
		}
	}
}

//-----  Hero section End -----

//----- Footer area start -----
.footer {
	background: $light-green;

	.box-container {
		@include grid(25rem);

		.box {
			&:first-child img {
				height: 4.5rem;
				width: auto;
			}

			h3 {
				@include titleText(2.5rem);
				padding: 1rem 0;
			}

			p {
				@include graphText(1.8rem);

				a {
					color: $green;
				}
			}

			.follow-me {
				margin-top: 1rem;

				a {
					height: 4.5rem;
					width: 4.5rem;
					line-height: 4.5rem;
					font-size: 1.7rem;
					background: $green;
					color: $white;
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
					text-align: center;

					&:hover {
						background: $black;
					}
				}
			}
			.link {
				display: block;
				@include titleText(1.7rem);
				padding: 0.5rem 0;

				&:hover {
					color: $green;
				}
			}
		}
	}

	.copyright {
		@include graphText(2rem);
		text-align: center;
		border-top: $border;
		margin-top: 1rem;
		padding-top: 1rem;
	}
}
//----- Footer area End -----

//home-course start
.home-course-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.course {
		text-align: center;
		position: relative;
		width: 50rem;
		height: 50rem;
		background: $light-green;
		border: $border;
		overflow: hidden;

		&:hover {
			img {
				transform: scale(1.2);
			}
			.content {
				background: rgba(10, 10, 10, 0.7);
			}
		}

		.image {
			padding: 2rem;

			img {
				width: 100%;
			}
		}

		.content {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			background: hsla(0, 0%, 4%, 0.6);
			color: $light-green;
			padding: 2rem;
			backdrop-filter: blur(5px);

			.schedule {
				display: flex;
				justify-content: space-around;
				gap: 2rem;
				padding: 0.8rem 0;
				.date {
					@include titleText(3rem);
					color: $light-green;

					span {
						@include titleText(1.5rem);
						color: $light-green;
					}

					// border-right: $border;
					// padding-right: 2rem;
				}

				.time-location {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					span {
						@include titleText(1.5rem);
						color: $light-green;

						i {
							margin-right: 1rem;
						}
					}
				}
			}

			h3 {
				@include titleText(3rem);
				color: $light-green;
			}

			p {
				@include titleText(1.5rem);
				color: $light-green;

				i {
					margin-right: 1rem;
				}
			}
		}
	}
}
//home-course end

//student options section start -----
.students-openion {
	.slide {
		text-align: center;
		p {
			@include graphText(1.5rem);
			position: relative;
			background: $light-green;
			border: $border;
			margin-bottom: 3rem;
			padding: 2rem;

			&::before {
				content: '';
				position: absolute;
				bottom: -1.2rem;
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				background: $light-green;
				border-right: $border;
				border-bottom: $border;
				height: 2rem;
				width: 2rem;
			}
		}
		img {
			height: 7rem;
			width: 7rem;
			border-radius: 50%;
		}

		h3 {
			@include titleText(2.5rem);
			padding: 0.5rem 0;
		}
	}
}
//student options section end -----

//Course details section start -----
.course-details {
	.navClass {
		.nav-tabs .nav-link {
			@include titleText(2rem);
			padding: 0 07rem;
		}
	}

	.tab-content {
		.fade:not(.show) {
			/* opacity: 0; */
			display: none !important;
		}
		#discription {
			@include grid(50rem);

			img {
				width: 100%;
			}

			.content {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.title {
					@include titleText(6rem);

					span {
						color: $green;
						font-family: 'Shadows Into Light', cursive;
					}
				}

				p {
					@include graphText(2rem);
				}
			}
		}

		#curriculum {
			display: flex;
			justify-content: center;
			align-items: center;

			table {
				@include titleText(2rem);
				width: 50%;
				margin-top: 2rem;

				thead {
					background: $green;
					color: $white;
				}
			}
		}

		#instructor {
			display: flex;
			justify-content: center;
			align-items: center;

			.expart-instructor {
				padding-top: 2rem;
				.card {
					width: 40rem;
					text-align: center;

					.image {
						position: relative;
						overflow: hidden;

						img {
							background: $light-green;
							width: 100%;
						}

						.follow-me {
							position: absolute;
							bottom: -100%;
							left: 0;
							right: 0;
							padding: 2rem;
							background-color: rgba(0, 0, 0, 0.8);

							a {
								font-size: 3rem;
								margin: 0 1rem;
								color: $white;

								&:hover {
									color: $green;
								}
							}
						}
					}

					&:hover {
						.image {
							img {
								background: $green;
							}

							.follow-me {
								bottom: 0;
							}
						}
					}

					.content {
						display: flex;
						padding-top: 1rem;
						align-items: center;
						justify-content: space-between;

						h3 {
							@include titleText(2rem);
						}

						span {
							@include graphText(1.5rem);
						}
					}
				}
			}
		}

		#price {
			padding-top: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;

			.price-card {
				width: 35rem;
				background: #f0fdfa;
				border: 1px solid $green;
				padding: 2rem;

				h3 {
					@include titleText(2.5rem);
					text-align: center;
					border-bottom: $border;
					border-color: $green;
					padding-bottom: 2rem;

					span {
						@include titleText(1.5rem);
					}
				}

				p {
					@include graphText(2rem);
					i {
						margin-right: 1rem;
					}
				}

				.btnn {
					text-align: center;
					display: block;
					margin-top: 1rem;
					padding: 1rem 3rem;
					font-size: 1.8rem;
					border: $border;
					background: $green;
					color: $light-green;
					text-transform: capitalize;
					cursor: pointer;

					&:hover {
						background: $light-green;
						color: $black;
					}
				}
			}
		}
	}
}
//Course details section end -----

//Under development pages
.under-dev {
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.image {
		height: 50rem;
		width: 50rem;

		img {
			width: 100%;
		}
	}
	h1 {
		@include titleText(5rem);
	}
}

// Media queries
@media (max-width: 1200px) {
	section {
		padding: 3rem 5%;
	}

	.course-details {
		nav {
			.nav-tabs .nav-link {
				@include titleText(2rem);
				padding: 0 5rem;
			}
		}
	}

	.tab-content {
		#curriculum {
			table {
				@include titleText(2rem);
				width: 60% !important;
			}
		}
	}

	#discription {
		.content {
			margin: 2rem 0;
			align-items: center;
			text-align: center;
		}
	}
}

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	section {
		padding: 5rem 2rem;
	}

	.course-details {
		nav {
			.nav-tabs .nav-link {
				@include titleText(2rem);
				padding: 0 5rem;
			}
		}
	}

	.tab-content {
		#curriculum {
			table {
				@include titleText(2rem);
				width: 80% !important;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		#menu-btn {
			display: inline-block;
		}

		.navbar {
			position: fixed;
			top: 0;
			right: -105%;
			width: 30rem;
			background: $white;
			height: 100%;
			display: flex;
			flex-flow: column;
			justify-content: center;
			z-index: 1200;

			#close-navbar {
				display: block;
			}

			&.active {
				box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
				right: 0;
			}

			a {
				display: block;
				margin: 1rem 0;
				text-align: center;
				font-size: 3rem;

				&.btn {
					width: 75%;
					margin: 1rem auto;

					border-radius: 5rem;
				}
			}
		}
	}

	.hero {
		.content {
			padding: 10rem 2rem;
		}
	}

	.course-details {
		nav {
			.nav-tabs .nav-link {
				@include titleText(2rem);
				padding: 0 2rem;
			}
		}
	}

	.tab-content {
		#curriculum {
			table {
				@include titleText(2rem);
				width: 90% !important;
			}
		}
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}

	.heading {
		font-size: 3rem;
	}

	.hero {
		.content {
			padding: 3rem 2rem;
		}
	}

	.course-details {
		nav {
			.nav-tabs .nav-link {
				@include titleText(2rem);
				padding: 0 1rem;
			}
		}
	}

	.tab-content {
		#curriculum {
			table {
				@include titleText(2rem);
				width: 95% !important;
			}
		}
	}
}
